<h2>/<%= @page.name %></h2>

<%= form_for [:admin, @page] do |f| %>

  <%= render 'error_messages', object: f.object %>

	<ul class="form">
    <li>
      <%= link_to "Aide pour le formatage", "https://github.com/JS-Tech/simple_markdown" %>
    </li>
		<li>
			<%= f.text_area :content %>
		</li>
	</ul>
	<ul class="center">
		<li><%= f.submit %></li>
	</ul>
<% end %>