<h1><%= t('message.index') %></h1>

<% @messages.each do |message| %>

	<%= message.name %>
	<%= message.speaker %>
	<%= message.date %>
	<audio controls="controls">
		<source src="<%= message.file_url %>" type="audio/mp3" />
		Votre navigateur n'est pas compatible
	</audio>

<% end %>