<% content_for :id, "messages" %>

<h1><%= t('message.index') %></h1>

<h2>V.I.P (Vision, Information, Partage)</h2>

<%= render 'category', messages: @vips %>

<h2>Les prédications</h2>

<%= render 'category', messages: @preachings %>

<h2>Groupes de maison</h2>

<%= render 'category', messages: @homegroups %>

<h2>Discipulat</h2>

<%= render 'category', messages: @teachings %>

<h2>Études bibliques </h2>

<%= render 'category', messages: @bible_studies %>

