<% content_for :id, "messages" %>

<h1><%= t('message.index') %></h1>

<% @preachings.each do |message| %>
	<div class="message">
		<p><%= content_tag :span, message.name, class: "name" %> de <%= content_tag :span, message.speaker, class: "orator" %> <%= l message.date, format: :text %></p>
		<audio id="player" src="<%= message.file_url %>" type="audio/mp3" controls="controls"></audio>
    <%= link_to "Télécharger", download_message_path(message, password: params[:password]), "data-no-turbolink": true %>
	</div>
<% end %>

<h2>Groupes de maison</h2>

<% @homegroups.each do |message| %>
<div class="message">
	<p><%= content_tag :span, message.name, class: "name" %> de <%= content_tag :span, message.speaker, class: "orator" %> <%= l message.date, format: :text %></p>
	<audio id="player" src="<%= message.file_url %>" type="audio/mp3" controls="controls"></audio>
  <%= link_to "Télécharger", download_message_path(message, password: params[:password]), "data-no-turbolink": true  %>
</div>
<% end %>
