<%= form_for [:admin, @message] do |f| %>

	<div class="errors"><%= render 'error_messages', object: f.object %></div>
	<ul class="form">
    <li>
			<%= f.label :category %>
			<%= f.select :category, options_for_enum(@message, :category) %>
		</li>
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :date %>
			<%= f.date_select :date %>
		</li>
		<li>
			<%= f.label :speaker %>
			<%= f.text_field :speaker %>
		</li>
		<li>
			<%= f.label :file %>
			<%= f.file_field :file, direct_upload: true %>
		</li>
		<li hidden class="progress">En cours de téléchargement... <%= image_tag 'medias/loader.gif' %></li>
	</ul>

	<div id="clear"></div>

	<ul class="center">
		<li><%= f.submit %></li>
	</ul>
<% end %>
