<% content_for :id, "event" %>

<h1>Evénements</h1>

<% unless @events.empty? %>
	<% @events.each do |event| %>
		<% if event.date - Time.now < 3.week %>
			<h2><i class="fi-star"></i>Prochainement dans <%= distance_of_time_in_words Time.now, event.date %>! <span class="date"><%= l event.date, format: :text %></span></h2>
			<div class="event">
				<h2><%= event.name %></h2>
		<% else %>
			<div class="event">
				<h2><%= event.name %></h2>
				<h2><span class="date"><%= l event.date, format: :text %></span></h2>
		<% end %>
			<div class="img"><%= image_tag image_url event.image_url %></div>
			<%= simple_format event.content %>
			<div class="infos">
				Dans <%= distance_of_time_in_words Time.now, event.date %> <%= l event.date, format: :text %>
			</div>
		</div>
	<% end %>

<% end %>