<% content_for :id, 'home' %>
<% content_for :banner do %>
	<h1>Une église <span class="a">accessible</span>, <span class="a">dynamique</span> et <span class="a">intergénérationnelle</span> !</h1>
<% end %>

<div class="content" id="ck-content">
	<%= render "content" %>
</div>

<% unless @event.nil? %>

	<h2>Prochainement <span class="date"><%= l @event.date, format: :text %></span></h2>
	<div class="event">
		<h2><%= @event.name %></h2>
		<div>
			<%= image_tag image_url @event.image_url %>
			<%= render 'md_content', content: @event.content %>
			<div class="clear"></div>
		</div>
		<div class="infos">
			Dans <%= distance_of_time_in_words Time.now, @event.date %> <%= l @event.date, format: :text %>
		</div>
	</div>

<% end %>

<h2>Activités</h2>

<div class="activities">
	<% @activities.each do |activity| %>
		<%= render activity %>
	<% end %>
	<div id="clear"></div>
</div>
