<% content_for :id, 'home' %>
<% content_for :banner do %>
	<h1>
		Parce que la <span>Vie</span> est éternelle!
	</h1>
<% end %>

<div class="how">
	<div class="youtube">
		<%= content_tag :div, (simple_markdown @page_youtube.content), id: "md-content"  %>
	</div>
	<div class="text">
		<div class="text-container">
			<div class="pictures">
				<div class="pictures-wrap">
					<% random_array = [*1..26].shuffle %>
					<% for i in random_array %>
						<%= image_tag "home/pictures/#{i}.JPG" %>
					<% end %>
				</div>
			</div>
			<div><%= render "content" %></div>
		</div>
	</div>
</div>

<div class="channels">
	<div class="title">
		<%= image_tag "home/channels/megaphone.png" %>
		<p>Nos canaux de communication</p>
	</div>

	<div class="channel-wrap">
		<div class="youtube">
			<%= image_tag "home/channels/youtube.png" %>
			<p>Vidéos du thème du mois</p>
			<a href="https://www.youtube.com/channel/UCL_B5hW5uxe-0P8kPLma9gg" target="_blank"></a>
		</div>

		<div class="facebook">
			<%= image_tag "home/channels/facebook.png" %>
			<p>Pour interagir et partager</p>
			<a href="https://www.facebook.com/eebulle" target="_blank"></a>
		</div>

		<div class="my-eebulle">
			<%= image_tag "home/channels/my-eebulle.png" %>
			<p>Infos & événements</p>
			<a href="https://my.eebulle.ch" target="_blank"></a>
		</div>

		<div class="newsletter">
			<%= image_tag "home/channels/newsletter.png" %>
			<p>Pour recevoir les infos mensuelles</p>
			<a href="https://eebulle.ch/newsletter_emails/new" target="_blank"></a>
		</div>
	</div>
</div>

<% unless @event.nil? %>

	<h2>Prochainement <span class="date"><%= l @event.date, format: :text %></span></h2>
	<div class="event">
		<h2><%= @event.name %></h2>
		<div>
			<%= image_tag @event.image.variant(resize: "500x300") %>
			<%= render 'md_content', content: @event.content %>
			<div class="clear"></div>
		</div>
		<div class="infos">
			Dans <%= distance_of_time_in_words Time.now, @event.date %> <%= l @event.date, format: :text %>
		</div>
	</div>

<% end %>

<h2>Activités</h2>

<div class="activities">
	<% @activities.each do |activity| %>
		<%= render activity %>
	<% end %>
	<div id="clear"></div>
</div>
