<%= form_for [:admin, @activity] do |f| %>
		
	<%= render 'error_messages', object: f.object %>
		
	<ul class="form col2">
		<li>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</li>
		<li>
			<%= f.label :time %>
			<%= f.time_select :time %>
		</li>
		<li>
			<%= f.label :image %>
			<%= f.file_field :image %>
			Format recommandé : 256 x 256
		</li>
		<li>
			<%= f.label :main %>
			<%= f.check_box :main %>
		</li>
	</ul>
	<ul class="form col2">
		<li>
			<div class="unity">
				<%= f.label :recurrence_id %><br>
				<%= f.collection_radio_buttons(:recurrence_id, Recurrence.all, :id, :name) do |b| %>
					<%= content_tag :div, "#{b.label} #{b.radio_button}".html_safe, class: 'dispo' %>
				<% end %>
			</div>
		</li>
		<li>
			<div class="unity">
				<%= f.label :day_ids %><br>
				<%= f.collection_check_boxes :day_ids, Day.all, :id, :name do |b| %>
					<%= content_tag :div, "#{b.label} #{b.check_box}".html_safe, class: 'dispo' %>
				<% end %>
			</div>
		</li>
	</ul>

	<div id="clear"></div>

	<ul class="form">
		<li>
			<%= f.text_area :content %>
		</li>
	</ul>

	<div id="clear"></div>

	<ul class="center">
		<li><%= f.submit %></li>
	</ul>
<% end %>