<% content_for :id, "newsletter" %>

<h1><%= t('newsletter_email.new.title') %></h1>

<p> Vous voulez rester informé de nos activités par email ? Inscrivez-vous à la newsletter. <br><br></p>

<%= form_for @newsletter_email do |f| %>

	<%= render 'error_messages', object: f.object %>

	<%= f.label :email %>
	<%= f.email_field :email %>
	
	<%= f.submit %>

<% end %>