<% content_for :id, "medias" %>

<h1>Médias</h1>

<h2>Messages audio</h2>
<p>
Les messages audios sont à la disposition de tous les membres du Bulle Network et accessibles avec un simple mot de passe (demandez-le à votre responsable).
</p>
<p>
	Vous trouvez 4 catégories de messages :
	<ol>
		<li>1. <b>Prédications</b> : les deux dernières prédications en date de l’EEBulle</li>
		<li>2. <b>Groupes de maison</b> : les deux derniers enregistrements d’animation en date pour les petits groupes (GdM’s)</li>
		<li>3. <b>Discipulat</b> : les capsules audios pour accompagner un nouveau chrétien dans la foi</li>
		<li>4. <b>Etudes bibliques</b> : des introductions à des études bibliques pour petits groupes (GdM’s)</li>
	</ol>
</p>

<p class="link"><i class="fi-sound"></i> <%= link_to t('message.link'), messages_path %></p>
<h2>Galeries photos</h2>

<% unless @galleries.nil? %>
	<% @galleries.each do |gallery| %>
		<div class="gallery">
			<h3><%= link_to gallery.name, gallery_path(gallery) %></h3>
			<p><%= simple_markdown gallery.description %></p>
			<p>
      <%= link_to gallery_path(gallery), class: "img" do %>
        <%= image_tag gallery.paintings.last.image %>
      <% end %>
      </p>
		</div>
	<% end %>
<% end %>
