<% content_for :id, "medias" %>

<h1>Médias</h1>

<h2>Messages audio</h2>
<p>Les messages audios sont réservés à l'assemblée. Pour avoir le code nécessaire au téléchargement merci d'en faire la demande au pasteur.</p>
<p class="link"><i class="fi-sound"></i> <%= link_to t('message.link'), messages_path %></p>
<h2>Galeries photos</h2>

<% unless @galleries.nil? %>
	<% @galleries.each do |gallery| %>
		<div class="gallery">
			<h3><%= link_to gallery.name, gallery_path(gallery) %></h3>
			<p><%= simple_markdown gallery.description %></p> 
			<p class="date"><%= l gallery.date, format: :text %></p>
			<p>
      <%= link_to gallery_path(gallery) do %>
        <%= image_tag image_url gallery.paintings.last.image_url(:thumb) %>
      <% end %>
      </p>
		</div>
	<% end %>
<% end %>
