						<pre>
<%= "<p>Paragraphe normal</p>" %>
<%= "<p>" %>
<%= "  Texte <b>en gras</b> <i>en italique</i>.<br>" %>
<%= "  Retours à la ligne" %>
<%= "</p>" %>
<%= "<p>une image : <img src=\"http://postimage.org/\"></p>" %></pre> 