						<pre>
<%= "<p>Paragraphe normal</p>" %>
<%= "<h2>C'est un titre</h2>" %>
<%= "<p>" %>
<%= "  Texte <b>en gras</b> <i>en italique</i>.<br>" %>
<%= "  Retours à la ligne" %>
<%= "</p>" %>
<%= "<h2>Sors ton agenda</h2>" %>
<%= "<table class=\"agenda\">" %>
<%= "  <tr>" %>
<%= "    <td>Soirée vision</td>" %>
<%= "    <td>10 juin</td>" %>
<%= "  </tr>" %>
<%= "</table>" %>
<%= "<p class=\"signature\">God bless,<br>Noémien</p>" %>
<%= "<p><center><img src=\"http://postimage.org/\"></center></p>" %></pre>
