<footer>
	<div class="infos col2">
		<p><b>Eglise évangélique de Bulle</b><br> Route du Verdel 8<br> 1630 Bulle</p>
		<p>Bâtiment Riedo (1er étage)<br> CCP  17-559407-8 <br> <a href="/financement">Nous avons besoin de vous !<a></p>
		<p><i class="fi-share"></i>  <a href="https://facebook.com/eebulle" target="_blank">facebook.com/eebulle</a></p>
	</div>
	<div class="log col2">
		<% if current_user.nil? %>
			<p><%= link_to t('application.login'), login_path %></p>
		<% else %>
			<p>
				<%= t('user.index') %>:
				<%= link_to current_user.name, profile_path %> |
				<%= link_to t('application.logout'), signout_path, method: :delete %>
			</p>
		<% end %>
		<p><i class="fi-info"></i> <%= link_to "Contacter le pasteur", contact_path %></p>
		<p><i class="fi-archive"></i> <%= link_to "Corporate EEBulle", logins_path %></p>
		<p><i class="fi-first-aid"></i> <%= link_to "Bug / Contacter le webmaster", "mailto:kocher.ke@gmail.com" %></p>
		<p><i class="fi-mail"></i> <b><%= link_to t('newsletter_email.new.title'), new_newsletter_email_path %></b></p>
		<div class="verdel8">
			<p><%= link_to(image_tag("layout/verdel8.png"), verdel8_path) %></p>
		</div>
		<div class="bulleonair">
			<p><%= link_to(image_tag("layout/bulleonair.jpg"), "http://bulleonair.ch") %></p>
		</div>
	</div>
</footer>
