<header>
	<div id="logo">
		<%= link_to (image_tag image_url "layout/logo.png"), root_path %>
	</div>
	<nav>
		<ul>
			<li><%= link_to t('layout.header.home'), root_path %></li>
			<li><%= link_to t('layout.header.presentation'), presentation_path %></li>
			<li><%= link_to t('layout.header.activities'), activities_path %></li>
			<li><%= link_to t('layout.header.events'), events_path %></li>
			<li><%= link_to t('layout.header.galleries'), medias_path %></li>
			<li><%= link_to t('layout.header.contact'), contact_path %></li>
		</ul>
	</nav>
	<div id="clear"></div>
</header>