<header>
	<div class="don">
		<%= link_to (image_tag image_url "layout/don.png"), '/financement' %>
	</div>
	<div id="logo">
		<%= link_to (image_tag image_url "layout/logo.png"), root_path %>
	</div>
	<div class="menus">
		<nav class="up">
			<ul>
				<li><a class="up-title" href="https://network.eebulle.ch">Le Bulle Network</a></li>
        <li><a href="https://eebulle.ch">Bulle</a></li>
				<li><a href="https://www.eglisesurleroc.ch" target="_blank">Fribourg</a></li>
				<li><a href="https://romont.eebulle.ch" target="_blank">Romont</a></li>
				<li><a href="https://enhaut.eebulle.ch" target="_blank">Pays d'Enhaut</a></li>
				<li><a href="https://www.impact-stecroix.ch" target="_blank">Sainte-Croix</a></li>
			</ul>
		</nav>
		<nav class="down">
			<ul>
				<li><%= link_to_active t('layout.header.home'), root_path %></li>
				<li><%= link_to_active t('layout.header.vision'), vision_path %></li>
				<li><%= link_to_active t('layout.header.presentation'), presentation_path %></li>
				<li><%= link_to_active t('layout.header.activities'), activities_path %></li>
				<li><%= link_to_active t('layout.header.events'), events_path %></li>
				<li><%= link_to_active t('layout.header.galleries'), medias_path %></li>
				<li><%= link_to_active t('layout.header.contact'), contact_path %></li>
			</ul>
		</nav>
		<div id="clear"></div>
	</div>
</header>
