<!DOCTYPE html>
<html>
<head>
  <title>Eebulle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :javascript %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/flash' %>

	<div id="header">
		<%= render 'layouts/header' %>
	</div>
	
	<div id="admin">
		<%= yield %>
	</div>

	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>