<!DOCTYPE html>
<html>
<head>
  <title>Admin - EEBulle</title>
  <%= stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/favicon' %>
</head>
<body>
	<%= render 'layouts/flash' %>

	<div id="wrapper">
		<div id="admin-header">
			<%= render 'layouts/admin_header' %>
		</div>

		<div id="admin" <%= "class=#{yield(:id)}" if yield(:id).presence %>>
			<%= yield %>
		</div>

		<div id="footer">
			<%= render 'layouts/footer' %>
		</div>
	</div>

</body>
</html>
