<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width">
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <%= stylesheet_link_tag "mailer", media: "all", 'data-turbolinks-track': 'reload' %>

</head>

<body>
  <!-- Wrapper for the body of the email -->
  <table class="body" data-made-with-foundation>
    <tr>
      <!-- The class, align, and <center> tag center the container -->
      <td class="center" align="center" valign="top">
        <center>

          <!-- Header -->
          <table class="wrapper header" align="center">
            <tr>
              <td class="wrapper-inner">
                <table class="container">
                  <tbody>
                    <tr>
                      <td>
                        <table class="row header">
                          <tbody>
                            <tr>
                              <th class="small-6 large-6 columns first">
                                <table>
                                  <tr>
                                    <th>
                                      <img src="https://storage.googleapis.com/perma-assets/images/newsletter/EEB_logo-moyen.png">
                                    </th>
                                  </tr>
                                </table>
                              </th>
                              <th class="small-6 large-6 columns last">
                                <table>
                                  <tr>
                                    <th>
                                      <p class="text-right">Newsletter | eebulle.ch</p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>

          <!-- Main content -->
          <table class="container">
            <tr>
              <td>
                <!-- Main content -->
                <table class="row">
                  <tr>
                    <th class="main-content">
                      <h1><%= yield(:title) %></h1>
                      <p class="subtitle"><%= yield(:subtitle) %></p>
                      <%= yield %>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
                <!-- Informations content -->
                <table class="row">
                  <tr>
                    <th class="informations">
                      <hr/>
                      <p><center>
                        <a href="https://eebulle.ch">eebulle.ch</a> | <a href="https://www.eglisesurleroc.ch">Eglise sur le Roc Fribourg</a> | <a href="https://romont.eebulle.ch">romont.eebulle.ch</a>
                      </center></p>
                      <p><center>
                        <a href="https://agenda.eebulle.ch">Agenda</a> | <a href="https://www.facebook.com/eebulle/">Facebook</a> | <a href="https://my.eebulle.ch/">Application</a>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
                <!-- Footer -->
                <table class="row">
                  <tr>
                    <th class="footer">
                      <p><center>
                        EEBulle - Eglise évangélique de Bulle<br>
                        Email envoyé à <%= yield(:email) %>, si vous avez des questions vous pouvez simplement répondre à cet email.<br>
                        <%= yield(:see_online) %><br>
                        Vous pouvez vous désabonner et ne plus recevoir de mails de notre part: <a href="<%= yield(:unsubscribe_url) %>">Se désinscrire</a>.
                      </center></p>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>
</body>

</html>
